# Node modules
node_modules/

projects/

# Environment variables
.env

# Logs
logs/
*.log

# Dependencies and builds
package-lock.json
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/

# Temporary files
*.tmp
*.swp